@model WebUI.ViewModels.EntitySearchViewModel

@{
    ViewBag.Title = "Entity Search";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frmEntitySearch", id = "frmEntitySearch", @class = "form-horizontal small" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.OrderBy)
    @Html.HiddenFor(model => model.ExportResults, new { @id = "ExportResults" })
    @Html.HiddenFor(model => model.ShowAdvanced, new { @id = "ShowAdvanced" })
    <input type="hidden" value=@ViewBag.PermissionID.ToString() id="txtPermissionID" />

    <div class="filters">
        <h2 style="display:inline-block">Search Entities</h2>
        <div class="row">
            <div class="form-group col-xl-2 col-lg-3 col-md-4 col-sm-6">
                @Html.LabelFor(model => model.Search.EntityRef, htmlAttributes: new { @class = "col-form-label" })
                <div>
                    @Html.EditorFor(model => model.Search.EntityRef, new { htmlAttributes = new { @class = "form-control clearable" } })
                    @Html.ValidationMessageFor(model => model.Search.EntityRef, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-xl-2 col-lg-3 col-md-4 col-sm-6">
                @Html.LabelFor(model => model.Search.DateFrom, htmlAttributes: new { @class = "col-form-label" })
                <div>
                    @Html.EditorFor(model => model.Search.DateFrom, "{0:dd/MM/yyyy}", new { htmlAttributes = new { @class = "date-picker form-control clearable" } })
                    @Html.ValidationMessageFor(model => model.Search.DateFrom, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-xl-2 col-lg-3 col-md-4 col-sm-6">
                @Html.LabelFor(model => model.Search.DateTo, htmlAttributes: new { @class = "col-form-label" })
                <div>
                    @Html.EditorFor(model => model.Search.DateTo, "{0:dd/MM/yyyy}", new { htmlAttributes = new { @class = "date-picker form-control clearable" } })
                    @Html.ValidationMessageFor(model => model.Search.DateTo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-xl-2 col-lg-3 col-md-4 col-sm-6">
                @Html.LabelFor(model => model.Search.EntityTypeID, htmlAttributes: new { @class = "col-form-label" })
                <div>
                    @Html.DropDownListFor(model => model.Search.EntityTypeID, new SelectList(ViewBag.EntityTypeList, "Value", "Text"), "Please Select....", new { @class = "form-control clearable"})
                     @*@Html.ListBoxFor(model => model.Search.EntityTypeID, new MultiSelectList(ViewBag.EntityTypeList, "Value", "Text"), new { @class = "form-control clearable" })*@
                    @Html.ValidationMessageFor(model => model.Search.EntityTypeID, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-xl-2 col-lg-3 col-md-4 col-sm-6">
                @Html.LabelFor(model => model.Search.EntityRef, htmlAttributes: new { @class = "col-form-label" })
                <div>
                    @Html.EditorFor(model => model.Search.EntityRef, new { htmlAttributes = new { @class = "form-control clearable" } })
                    @Html.ValidationMessageFor(model => model.Search.EntityRef, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="btnfilters col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <input class="btn btn-primary" id="SearchButton" name="SearchButton" type="submit" value="Apply Filters" />
                <input class="btn btn-secondary" id="ClearButton" name="ClearButton" type="button" value="Clear Filters" />
            </div>

        </div>
        <div id="AdvancedOptions" class="row" style="display:none;">
            <div class="form-group col-xl-2 col-lg-3 col-md-4 col-sm-6">
                @Html.LabelFor(model => model.Search.EntityTypeID, htmlAttributes: new { @class = "col-form-label" })
                <div>
                    @Html.DropDownListFor(model => model.Search.EntityTypeID, new SelectList(ViewBag.EntityTypeList, "Value", "Text"), "Please Select....", new { @class = "form-control clearable" })
                    @*@Html.ListBoxFor(model => model.Search.EntityTypeID, new MultiSelectList(ViewBag.EntityTypeList, "Value", "Text"), new { @class = "form-control clearable" })*@
                    @Html.ValidationMessageFor(model => model.Search.EntityTypeID, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div style="text-align:center;">
            <button class="btn btn-link" id="AdvancedLink" type="button">More Filters <i class="far fa-arrow-alt-circle-down"></i></button>
        </div>
    </div>

    @Html.Partial("_Results", Model)

}

<script type="text/javascript" src="~/Scripts/EntitySearch/EntitySearch.js?id=@ViewBag.JavaScriptVersion"></script>

